@media only screen and (max-width:1100px) {
    .wrapper {
        width: 90%;
    }
    #social {
        position:absolute;
        width: auto;
        margin-top: 82px;
        margin-right: 4px;
    }
    }
    @media only screen and (max-width:900px) {
        body {
            font-size: 85%;
        }
        #logo h1 {
            width: 35px;
            height: 35px;
        }
         #logo h2 {
            font-size: 2.2em;
         }
         #social {
            margin-top: 72px;
         }
         .col-3 p {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
         }
    }
    @media only screen and (max-width:750px) {
        #navbar nav a {
            font-size: 0.9em;
        }
        .col-3 p {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
         }
         .col-1 .col-2 .col-3 {
            width: 100%;
            margin-left: 0;
            float: none;
         }
         .border-right {
            margin: 0;
         }
         #details div {
            height:auto;
         }
   
    }
    @media only screen and (max-width:700px) {
          #navbar .wrapper .clearfix  a{
            display: none;
          }
          #navbar .wrapper .clearfix a.menu-icon {
            display: block;
          }
         #logo h2 {
            display: none;
        }
        #social {
            display:inline-block;
            position: relative;
            top: 115px;
            left: 80px;
            width: auto;
            z-index: 2;
          }
          #social a {
            display: inline-block;
          }
    }

      
    

